.Header {
  background-color: darkblue;
  height: 60px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logoBox {
  display: flex;
  justify-content: center;
  width: 7%;
}

#bellBox,
#moonBox {
  display: flex;
  justify-content: center;
  width: 4%;
}

#numberNotif {
  color: white;
  font-size: 10px;
}

#logoBox img {
  height: 40px;
  width: 40px;
}

#bellBox .chakra-icon,
#moonBox .chakra-icon {
  height: 25px;
  width: 25px;
  color: white;
}

#bellBox .chakra-icon:hover,
#moonBox .chakra-icon:hover {
  height: 29px;
  width: 29px;
  cursor: pointer;
}

#titleBox {
  display: flex;
  justify-content: start;
  margin-left: 20px;
  width: 85%;
}

#titleBox h2 {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Header h2 {
  color: white;
}