.notification-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-text {
    text-align: center;
    padding: 2px;
    margin: 0;
    margin-left: 2rem;
    margin-right: 2rem;
}

.close-icon,
.close-icon-duplica {
    padding: 2px;
    visibility: hidden;
    height: 15px;
    width: 15px;
}

.notification-box:hover .close-icon {
    visibility: visible;
    cursor: pointer;
}

.notification-box:hover .close-icon:hover {
    height: 20px;
    width: 20px;
}

.box-close-icon {
    display: flex;
    justify-content: center;
    width: 35px;
}