footer {
    background-color: darkblue;
    height: 40px;
    flex-direction: column;
}

#rights, #names {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#rights {
    font-size: 12px;
}

#names {
    font-size: 10px;
}