* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: none;
}

.Header {
    height: 50px;
    background-color: red;
}

main {
    min-height: calc(100vh - 100px);
}

.Footer {
    height: 50px;
    background-color: green;
    width: 100%;
}